/*
Colors:
Black: #0B0D17 hsl(230, 35%, 7%)
Light-grey: #D0D6F9 hsl(231, 77%, 90%)
Off-white: #FFFFFF hsl(0, 0%, 100%)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

/*body {
    width: 100vw;
    position: relative;
    background-image: url(http://127.0.0.1:5500/images/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
}*/

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: hsl(230, 35%, 7%);
}

body::before {
    content: "";
    background-image: url(http://127.0.0.1:5500/images/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    display: block;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*--------------------
------Header----------
--------------------*/

header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLineDecoration {
    display: none;
}

.logoAnchor img {
    width: 40px;
}

.hamburgerAnchor img {
    width: 24px;
    height: 21px;
    
}

/*--------------------
------Nav Bar----------
--------------------*/

.headerNav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(247, 241, 241, 0.04);
    backdrop-filter: blur(40px);
    height: 100vh;
    min-width: 254px;
    z-index: 12;
}

.headerNav ul {
    list-style-type: none;
    padding-left: 32px;
    text-align: left;
}

.headerNav ul li {
    padding-bottom: 32px;
    position: relative;
}

.headerNav ul li a {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-size: 16px;
    text-decoration: none;
}

.headerNav ul li a span {
    font-weight: 700;
}

.activePageNavAnchor {
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    width: 4px;
    height: 31px;
    position: absolute;
    right: 0;
    top: -6px;
    display: none;
}

.headerNav ul li:hover .activePageNavAnchor {
    display: inline-block;
    opacity: .5;
}

/*Use Javascript for active scrolling state*/

.activePageNavAnchor-Scrolling {
    display: inline-block;
}

.listCloseIcon {
    padding: 33.95px 26.45px 64.95px 0;
    text-align: right;
}

.navCloseIcon:hover {
    cursor: pointer;
}

.hamburgerAnchor:hover {
    cursor: pointer;
}

/*Use javascript to open and close nav bar*/

.openNavBar {
    display: inline-block;
}

/*--------------------
--------Main----------
--------------------*/

/*--------------------
--Heading Container---
--------------------*/

main {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    text-align: center;
}

.crewHeadingContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.crewHeadingContainer h2, span {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-size: 16px;
    line-height: 19.2px;
}

.crewHeadingContainer span {
    font-weight: 700;
    opacity: .25;
    padding-right: 16px;
}

/*--------------------
---Image Container----
--------------------*/

.crewImageContainer {
    padding-top: 29px;
}

.crewImage {
    /*width: 163.5px;
    padding-left: 10px;*/
    height: 222px;
    display: block;
    margin: auto;
}

.commanderImgPaddingAndHeight {
    padding-left: 10px;
    height: 222px;
}

.hrBelowImg {
    width: 100%;
    height: 1px;
    background-color: hsla(231, 15%, 26%, 1);
}

/*--------------------
--Crew Text Container-
--------------------*/

/*--------------------
--Crew Nav Bar--------
--------------------*/

.crewTextContiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cNavbarContainer {
   width: 26.91%; 
   height: 10px;
   margin: 32px auto 32px auto;
}

.cNavbar ul {
    display: flex;
    justify-content: space-between;
}

.cNavbar ul li {
    position: relative;
}

.cNavbar ul li, li a {
    list-style-type: none;
}

.crewNavAnchor {
    width: 10px;
    height: 10px;
    border-radius: 3rem;
    display: inline-block;
    background-color: hsla(0, 0%, 100%, 0.17);
}

/*--------------------
Crew Nav Active States
--------------------*/

.crewNavAnchor:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
}

/*Use Javascript for crew nav active state on click*/

.crewNavAnchor-Active {
    background-color: hsla(0, 0%, 100%, 1);
}

/*--------------------
-Crew Desc Section--
--------------------*/

.crewDescriptionContainer h2 {
    font-family: "Bellefair", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18.34px;
    color: hsla(0, 0%, 100%, .5);
}

.crewDescriptionContainer h1 {
    font-family: "Bellefair", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 27.5px;
    padding: 8px 0 16px 0;
}

.crewDescriptionContainer p {
    font-family: "Barlow", sans-serif;
    color: hsl(231, 77%, 90%);
    line-height: 25px;
}

@media screen and (min-width: 376px) {
    body {
        width: 100vw;
        position: relative;
        background-color: hsl(230, 35%, 7%);
    }
    
    body::before {
        content: "";
        background-image: url(http://127.0.0.1:5500/images/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        background-blend-mode: screen;
        display: block;
        width: 100vw;
        height: 100%;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

/*--------------------
--Tablet Media Query--
--------------------*/

@media screen and (min-width: 550px) {
    body {
        width: 100vw;
        position: relative;
        background-color: hsl(230, 35%, 7%);
    }
    
    body::before {
        content: "";
        background-image: url(http://127.0.0.1:5500/images/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        background-blend-mode: screen;
        background-size: cover;
        display: block;
        width: 100vw;
        height: 100%;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    /*--------------------
    ------Header----------
    --------------------*/

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .headerLineDecoration {
        display: none;
    }

    .logoAnchor {
        padding: 24px 0 21px 39px;
    }

    .logoAnchor img {
        width: 48px;
        height: 48px;
    }

    .hamburgerAnchor img {
        display: none;
    }

    /*--------------------
    ------Nav Bar----------
    --------------------*/

    .headerNav {
        display: inline-block;
        padding: 39px 48px;
        position: static;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40px);
        min-width: 450px;
        width: auto;
        height: 100%;
    }

    .headerNav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerNav ul li {
        padding: 0;
        display: inline-block;
        position: relative;
    }

    .headerNav ul li a {
        letter-spacing: 2.36px;
        font-size: 14px;
    }

    .headerNav ul li a span {
        display: none;
    }

    .activePageNavAnchor {
        display: block;
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -39px;
        left: 0;
        right: auto;
        top: auto;
        display: none;
    }

    .headerNav ul li:hover .activePageNavAnchor {
        display: inline-block;
        opacity: .5;
    }

    /*Use Javascript for active scrolling state*/

    .activePageNavAnchor-Scrolling {
        display: inline-block;
    }

    .listCloseIcon {
        display: none;
    }

    /*--------------------
    --------Main----------
    --------------------*/

    /*--------------------
    --Heading Container---
    --------------------*/

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 38.5px 0 38.5px;
        text-align: center;
        height: calc(100vh - 96px)
    }

    .crewHeadingContainer {
        text-align: left;
        padding-bottom: 60px;
    }

    .crewHeadingContainer h2, span {
        letter-spacing: 3.38px;
        font-size: 20px;
        line-height: 24px;
    }

    .crewHeadingContainer span {
        font-weight: 700;
        opacity: .25;
        padding-right: 16px;
    }

    /*--------------------
    ---Image Container----
    --------------------*/

    .crewImageContainer {
        padding: 0;
        order: 4;
    }

    .crewImage {
        /*width: 457px;
        padding-left: 40px;*/
        height: 532px;
        display: block;
        margin: auto;
    }

    .commanderCrewImgContainerClass {
        height: 532px; 
        /*overflow: hidden;*/
    }

    .commanderImgPaddingAndHeight {
        padding-left: 40px;
        height: 572px;
    }

    .hrBelowImg {
        display: none;
    }

    /*--------------------
    --Crew Text Container-
    --------------------*/

    /*--------------------
    --Crew Nav Bar--------
    --------------------*/

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    };

    .crewTextContiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cNavbarContainer {
        width: 12.73%; 
        height: 10px;
        margin: 40px auto 40px auto;
        order: 2;
    }

    /*--------------------
    Crew Nav Active States
    --------------------*/

    .crewNavAnchor:hover {
        background-color: hsla(0, 0%, 100%, 0.5);
    }

    /*Use Javascript for crew nav active state on click*/

    .crewNavAnchor-Active {
        background-color: hsla(0, 0%, 100%, 1);
    }

    /*--------------------
    -Crew Desc Section--
    --------------------*/

    .crewDescriptionContainer h2 {
        font-size: 24px;
        line-height: 27.5px;
    }

    .crewDescriptionContainer h1 {
        font-size: 40px;
        line-height: 45.84px;
    }

    .crewDescriptionContainer p {
        font-size: 16px;
        line-height: 28px;
        width: 66.28%;
        margin: auto;
    }
    
}

@media screen and (min-width: 769px) {
    body {
        width: 100vw;
        position: relative;
        background-color: hsl(230, 35%, 7%);
    }
    
    body::before {
        content: "";
        background-image: url(http://127.0.0.1:5500/images/crew/background-crew-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: screen;
        display: block;
        width: 100vw;
        height: 100vh;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

/*--------------------
--Desktop Media Query-
--------------------*/

@media screen and (min-width: 1164px) {
    body {
        width: 100vw;
        position: relative;
        background-color: hsl(230, 35%, 7%);
    }
    
    body::before {
        content: "";
        background-image: url(http://127.0.0.1:5500/images/crew/background-crew-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: screen;
        display: block;
        width: 100vw;
        height: 100vh;
        opacity: .5;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    /*--------------------
    ------Header----------
    --------------------*/

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .headerLineDecoration {
        height: 1px;
        width: 473px;
        background-color: hsl(0, 0%, 100%, 0.3);
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 167px;
        display: block;
        z-index: 10;
    }

    .logoAnchor {
        padding: 64px 0 61px 55px;
    }

    .logoAnchor img {
        width: 48px;
        height: 48px;
    }

    .hamburgerAnchor img {
        display: none;
    }

    /*--------------------
    ------Nav Bar----------
    --------------------*/

    .headerNav {
        display: inline-block;
        padding: 38px 165px 38px 123px;
        position: static;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40px);
        min-width: 830px;
        width: auto;
        height: 100%;
    }

    .headerNav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerNav ul li {
        padding: 0;
        display: inline-block;
        position: relative;
    }

    .headerNav ul li a {
        letter-spacing: 2.7px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .headerNav ul li a span {
        display: inline-block;
        font-weight: 700;
        letter-spacing: 2.7px;
        font-size: 16px;
        line-height: 19.2px;
        padding-right: 5px;
    }

    .activePageNavAnchor {
        display: block;
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -39px;
        left: 0;
        right: auto;
        top: auto;
        display: none;
    }

    .headerNav ul li:hover .activePageNavAnchor {
        display: inline-block;
        opacity: .5;
    }

    /*Use Javascript for active scrolling state*/

    .activePageNavAnchor-Scrolling {
        display: inline-block;
    }

    .listCloseIcon {
        display: none;
    }

    /*--------------------
    --------Main----------
    --------------------*/

    /*--------------------
    --Heading Container---
    --------------------*/

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 137px 0 165px;
        text-align: center;
        grid-template-rows: 31.11% 68.89%;
        height: calc(100vh - 176px);
    }

    .crewHeadingContainer {
        padding: 36px 0 0 0;
        text-align: left;
    }

    .crewHeadingContainer h2, span {
        letter-spacing: 4.72px;
        font-size: 28px;
        line-height: 33.6px;
    }

    .crewHeadingContainer span {
        padding-right: 24px;
    }

    /*--------------------
    ---Image Container----
    --------------------*/

    .crewImageContainer {
        padding-top: 0;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: end;
    }

    .crewImage {
        /*width: 568px;
        padding-left: 50px;*/
        display: block;
        margin: auto;
    }

    .commanderCrewImgContainerClass {
        height: auto; 
        overflow: visible;
    }

    .commanderImgPaddingAndHeight {
        padding-left: 0;
        height: 712px;
        width: 568px;
    }

    .specialistImgPaddingAndHeight {
        padding: 0;
        height: auto;
        width: 453.44px;
    }

    .pilotImgPaddingAndHeight {
        padding: 0;
        height: auto;
        width: 554.39px;
    }

    .engineerImgPaddingAndHeight {
        padding: 0;
        height: auto;
        width: 615.57px;
    }

    .hrBelowImg {
        display: none;
    }

    /*--------------------
    --Crew Text Container-
    --------------------*/

    /*--------------------
    --Crew Nav Bar--------
    --------------------*/

    article {
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 92.92px;
    }

    .cNavbarContainer {
        width: 24.5%; 
        height: 15px;
        margin: 120px 0 0 0;
    }

    .crewNavAnchor {
        width: 15px;
        height: 15px;
        border-radius: 5rem;
    }

    /*--------------------
    Crew Nav Active States
    --------------------*/

    .crewNavAnchor:hover {
        background-color: hsla(0, 0%, 100%, 0.5);
    }

    /*Use Javascript for crew nav active state on click*/

    .crewNavAnchor-Active {
        background-color: hsla(0, 0%, 100%, 1);
    }

    /*--------------------
    -Crew Desc Section--
    --------------------*/

    .crewDescriptionContainer h2 {
        text-align: left;
        font-size: 32px;
        line-height: 36.67px;
    }

    .crewDescriptionContainer h1 {
        text-align: left;
        font-size: 56px;
        line-height: 64.18px;
        padding: 15px 0 27px 0;
    }

    .crewDescriptionContainer p {
        font-size: 18px;
        line-height: 32px;
        text-align: left;
        width: 80%;
        margin: 0;
    }

    
}

@media screen and (max-width: 1350px) and (min-width: 1164px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 137px 0 165px;
        text-align: center;
        grid-template-rows: 15% 85%;
        height: calc(100vh - 176px);
    }
}