:root {
    --clr-primary-white: hsl(0, 0%, 100%);
    --clr-primary-black: hsl(0, 0%, 0%);
    --clr-primary-dark-gray: hsl(0, 0%, 55%);
    --clr-primary-very-dark-gray: hsl(0, 0%, 41%);
}

/*
Fonts: 'Alata' 'Josefin Sans'
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: 'Alata', sans-serif;
}

.bg-hero, a, .heroTextContainer h1, ul {
    color: var(--clr-primary-white);
    text-decoration: none;
    list-style: none;
}

.images {
    max-width: 100%;
}

.desktop-images {
    display: none;
}

.container {
    padding: 0 1.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* Header
----------------------*/

header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 2.5rem 0;
    z-index: 11;
}

header .flex-row {
    justify-content: space-between;
    align-items: center;
}


.logo-image {
    width: 9.2rem;
}

.close-button {
    display: none;
}


/* Header Nav
----------------------*/

.header-nav {
    position: fixed;
    /*top: 12rem;
    left: 1.5rem;*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
    display: none;
}

.header-nav ul {
    padding: 12rem 0 0 1.5rem;
}

.header-nav ul li {
    padding-bottom: 1.75rem;
}

.header-nav-links {
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    line-height: normal;
}

.header-nav-links:hover {
    text-decoration: underline;
}

.nav-open {
    display: block;
}

.nav-close {
    display: none;
}

/* Hero
----------------------*/

.bg-hero {
    background-image: url(images/mobile/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 14.25rem 0;
}

.heroTextContainer {
    border: 2px solid var(--clr-primary-white);
    margin: 0 1.5rem;
    padding: 1.5rem;
}

.heroTextContainer h1 {
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

/* About
----------------------*/

.home-about {
    padding: 6rem 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--clr-primary-black);
}

.home-about h2 {
    padding: 2.5rem 0 1rem 0;
}

p {
    color: var(--clr-primary-very-dark-gray);
    line-height: 1.7;
    padding: 0 1rem;
}

/* Portfolio
----------------------*/

.button-desktop {
    display: none;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio .flex-row {
    justify-content: center;
}

.portfolio h2 {
    padding-bottom: 2.5rem;
}

.grid-mobile {
    display: grid;
    gap: 1.25rem;
}

.port-item-desktop {
    display: none;
}

.port-item {
    position: relative;
}

.port-item img {
    filter: brightness(75%)
;}

.port-item img:hover {
    filter: opacity(.4);
    cursor: pointer;
}

.port-item:hover span {
    color: var(--clr-primary-black);
    cursor: pointer;
}
figcaption {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    padding-right: 10rem;
}

figcaption span {
    color: var(--clr-primary-white);
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.button-mobile {
    color: var(--clr-primary-black);
    font-size: 1rem;
    letter-spacing: 3px;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    background-color: var(--clr-primary-white);
    border: 1px solid var(--clr-primary-black);
    padding: .5rem 2rem;
    margin: 1.75rem 0 6rem 0;
}

.button-mobile:hover {
    cursor: pointer;
    background-color: var(--clr-primary-black);
    color: var(--clr-primary-white);
}

/* Footer
----------------------*/

.bg-dark {
    background-color: var(--clr-primary-black);
}

.footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left-side {
    width: 100%;
    text-align: center;
}

.bg-dark .logo {
    padding: 3rem 0 1.5rem 0;
}

.bg-dark .logo img {
    width: 10rem;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav {
    padding-bottom: 2rem;
}

.footer-nav-links:hover {
    text-decoration: underline;
}

.footer-right-side .flex-row {
    gap: 1rem;
    justify-content: center;
}

.copywrite-container {
    padding: 1rem 0 3rem 0;
}

.copywrite-container span {
    color: var(--clr-primary-very-dark-gray);
}

/*Tablet Media Query
-----------------------
---------------------*/

@media screen and (min-width: 700px) {
    .desktop-images {
        display: block;
    }

    .mobile-images {
        display: none;
    }

    .container {
        padding: 0 10rem;
    }

    .button-desktop {
        display: block;
        color: var(--clr-primary-black);
        font-size: 1rem;
        letter-spacing: 3px;
        font-family: 'Alata', sans-serif;
        text-transform: uppercase;
        background-color: var(--clr-primary-white);
        border: 1px solid var(--clr-primary-black);
        padding: .25rem 2rem;
    }

    .button-desktop:hover {
        cursor: pointer;
        background-color: var(--clr-primary-black);
        color: var(--clr-primary-white);
    }

    .portfolio {
        padding-top: 10rem;
    }

    .portfolio .flex-row {
        justify-content: space-between;
        padding: 0 10rem 4rem 10rem;
        width: 100%;
    }

    .portfolio h2 {
        padding-bottom: 0;
    }

    .grid-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-bottom: 10rem;
    }

    .port-item-desktop {
        display: block;
    }

    .port-item-mobile {
        display: none;
    }

    figcaption {
        bottom: 2.5rem;
        left: 2.5rem;
        padding-right: 3rem;
    }

    figcaption span {
        font-size: 2rem;
    }

    .button-mobile {
        display: none;
    }
}


/* Desktop Media Query
-----------------------
---------------------*/

@media screen and (min-width: 1105px) {

    .desktop-images {
        display: block;
    }

    .mobile-images {
        display: none;
    }

    .container {
        padding: 0 10rem;
    }

    /* Header
    ----------------------*/

    header {
        padding: 4rem 0;
    }

    .logo-image {
        width: 12.5rem;
    }

    .close-button {
        display: none;
    }

    .hamburger-button {
        display: none;
    }


    /* Header Nav
    ----------------------*/

    .header-nav {
        position: static;
        display: block;
        background-color: transparent;
        z-index: auto;
        width: auto;
        height: auto;
    }

    .header-nav ul {
        padding: 0 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .header-nav ul li {
        padding-bottom: 0;
        display: inline-block;
    }

    .header-nav-links {
        font-size: 1rem;
        text-transform: none;
    }

    .header-nav-links:hover {
        text-decoration: underline;
    }

    .nav-open {
        display: block;
    }

    .nav-close {
        display: none;
    }

    /* Hero
    ----------------------*/

    .bg-hero {
        background-image: url(images/desktop/image-hero.jpg);
        background-size: cover;
        padding: 14rem 0 9rem 0;
    }

    .heroTextContainer {
        margin: 0 0 0 10rem;
        padding: 2.5rem 2.5rem 1.75rem 2.5rem;
        width: 46%;
    }

    .heroTextContainer h1 {
        font-size: 4.5rem;
    }

    /* About
    ----------------------*/

    .home-about {
        padding: 10rem 0 0 0;
        text-align: left;
        position: relative;
    }

    .home-about .desktop-images {
        width: 65%;
    }

    h2 {
        font-size: 3rem;
    }

    .home-about h2 {
        padding: 0 0 2rem 0;
    }

    p {
        padding: 0 7rem 0 0;
    }

    .about-text-container {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        background-color: var(--clr-primary-white);
        padding: 5rem 5rem 0 5rem;

    }

    /* Portfolio
    ----------------------*/

    .button-desktop {
        display: block;
        color: var(--clr-primary-black);
        font-size: 1rem;
        letter-spacing: 3px;
        font-family: 'Alata', sans-serif;
        text-transform: uppercase;
        background-color: var(--clr-primary-white);
        border: 1px solid var(--clr-primary-black);
        padding: .25rem 2rem;
    }

    .button-desktop:hover {
        cursor: pointer;
        background-color: var(--clr-primary-black);
        color: var(--clr-primary-white);
    }

    .portfolio {
        padding-top: 10rem;
    }

    .portfolio .flex-row {
        justify-content: space-between;
        padding: 0 10rem 4rem 10rem;
        width: 100%;
    }

    .portfolio h2 {
        padding-bottom: 0;
    }

    .grid-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        padding-bottom: 10rem;
    }

    .port-item-desktop {
        display: block;
    }

    .port-item-mobile {
        display: none;
    }

    figcaption {
        bottom: 2.5rem;
        left: 2.5rem;
        padding-right: 3rem;
    }

    figcaption span {
        font-size: 2rem;
    }

    .button-mobile {
        display: none;
    }

    /* Footer
    ----------------------*/

    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 3rem 0;
    }

    .footer-left-side {
        width: 100%;
        text-align: left;
    }

    .bg-dark .logo {
        padding: 0 0 0 0;
    }

    .footer-nav ul {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }

    .footer-nav {
        padding: 1rem 0 0 0;
    }

    .footer-nav-links:hover {
        text-decoration: underline;
    }

    .footer-right-side {
        width: 100%;
    }

    .footer-right-side .flex-row {
        justify-content: flex-end;
        align-items: center;
    }

    .copywrite-container {
        padding: 1rem 0 0 0;
        text-align: right;
    }
}