/*
### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 375px;
    background-image: url(images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.8rem;
    color: white;
    padding: 5.65rem 1.55rem 4.3rem 1.55rem;
}

article {
    text-align: center;
}

article h1 {
    font-weight: 700;
    font-size: 1.72rem;
    padding-bottom: .75rem;
}

article p {
    font-size: 1.05rem;
}

.mainFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.banner {
    background-color: hsl(248, 32%, 49%);
    border-radius: .6rem;
    text-align: center;
    padding: 1.25rem 3rem;
    box-shadow: 0 7.5px hsl(249, 10%, 26%, 0.2);
}

.banner h2 {
    font-weight: 600;
}

.smallBannerText {
    font-weight: 400;
    font-size: 1rem;
    color: hsl(245, 21%, 89%);
}

.formContainer {
    background-color: white;
    color: black;
    border-radius: .5rem;
    padding: 1.4rem;
    position: relative;
    box-shadow: 0 8px hsl(249, 10%, 26%, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputBox {
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
}

input {
    width: 100%;
    padding: .9rem;
    border-radius: .3rem;
    border: 1px solid hsl(246, 25%, 77%);
}

input::placeholder {
    font-weight: 600;
    font-size: .9rem;
    color: hsl(251, 7%, 45%);
}

.button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    border: none;
    box-shadow: 0 3px 1px hsl(154, 45%, 46%);
    padding: 16px 14.4px 12.4px 14.4px;
}

.button:hover {
    background-color: hsl(154, 54%, 64%);
    cursor: pointer;
}

.footer {
    padding: .25rem .7rem 0 .7rem;
}

.greyFooterText {
    color: hsl(246, 25%, 77%);
    font-weight: 500;
    font-size: .7rem;
}

.redFooterText {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    font-size: .7rem;
}

.errorImage {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.errorText {
    display: none;
    text-align: right;
    font-size: .6rem;
    color: hsl(0, 100%, 74%);
    padding-top: .2rem;
    font-style: italic;
}

.emailErrorPlaceholder {
    display: none;
    position: absolute;
    left: 1rem;
    top: 1.05rem;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    font-size: .9rem;
}

.active {
    display: block;
}

.redBorder {
    border: 2px solid hsl(0, 100%, 74%);
}

@media (min-width: 900px) {
    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mainContainer {
        width: 100%;
        height: 100%;
        background-image: url(images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-color: hsl(0, 100%, 74%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;
        color: white;
        padding: 5.65rem 1.55rem 4.3rem 1.55rem;
    }
    
    article {
        text-align: left;
        width: 50%;
        padding: 0 4rem 1.5rem 7.8rem;
    }
    
    article h1 {
        font-weight: 700;
        font-size: 3.1rem;
        padding-bottom: 1.5rem;
        line-height: 3.5rem;
    }
    
    article p {
        font-size: 1rem;
    }
    
    .mainFormContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.4rem;
        width: 50%;
        padding-right: 9.7rem;
        padding-bottom: 1.5rem;
    }
    
    .banner {
        background-color: hsl(248, 32%, 49%);
        border-radius: .6rem;
        text-align: center;
        padding: 1.25rem 3rem;
        box-shadow: 0 7.5px hsl(249, 10%, 26%, 0.2);
        width: 100%;
    }
    
    .banner h2 {
        font-weight: 600;
    }
    
    .smallBannerText {
        font-weight: 400;
        font-size: 1rem;
        color: hsl(245, 21%, 89%);
    }
    
    .formContainer {
        background-color: white;
        color: black;
        border-radius: .5rem;
        padding: 2rem;
        position: relative;
        box-shadow: 0 8px hsl(249, 10%, 26%, 0.2);
        width: 100%;
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .inputBox {
        width: 100%;
        position: relative;
        padding-bottom: 1rem;
    }
    
    input {
        width: 100%;
        padding: 1.2rem;
        border-radius: .3rem;
        border: 1px solid hsl(246, 25%, 77%);
    }
    
    input::placeholder {
        font-weight: 600;
        font-size: .9rem;
        color: hsl(251, 7%, 45%);
    }
    
    .button {
        background-color: hsl(154, 59%, 51%);
        color: white;
        text-transform: uppercase;
        font-size: 1.1rem;
        border: none;
        box-shadow: 0 3px 1px hsl(154, 45%, 46%);
        padding: 16px 14.4px 12.4px 14.4px;
    }
    
    .button:hover {
        background-color: hsl(154, 54%, 64%);
        cursor: pointer;
    }
    
    .footer {
        padding: .25rem .7rem 0 .7rem;
    }
    
    .greyFooterText {
        color: hsl(246, 25%, 77%);
        font-weight: 500;
        font-size: .7rem;
    }
    
    .redFooterText {
        color: hsl(0, 100%, 74%);
        font-weight: 700;
        font-size: .7rem;
    }
    
    .errorImage {
        display: none;
        position: absolute;
        right: 1.5rem;
        top: 1.3rem;
    }
    
    .errorText {
        display: none;
        text-align: right;
        font-size: .7rem;
        color: hsl(0, 100%, 74%);
        padding-top: .2rem;
        font-style: italic;
    }
    
    .emailErrorPlaceholder {
        display: none;
        position: absolute;
        left: 1.3rem;
        top: 1.4rem;
        color: hsl(0, 100%, 74%);
        font-weight: 600;
        font-size: .9rem;
    }
    
    .active {
        display: block;
    }

    .redBorder {
        border: 2px solid hsl(0, 100%, 74%);
    }
}